body 
{
    overflow-x: hidden;
}
.relative-container 
{
    position: relative; 
}
.hero-spot 
{
    width: 17rem; 
    height: 17rem; 
    background-color: #00A9FF; 
    border-radius: 50%; 
    position: absolute; 
    filter: blur(200px);
    top: 4rem; 
    left: 8rem;
}